@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Labrada:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px #f1ec40;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px #f1ec40;
  }
}

@layer components {
  .main-margin {
    @apply mx-5 md:mx-10 lg:mx-16 xl:mx-20;
  }
  .main-padding {
    @apply px-5 md:px-10 lg:px-16 xl:px-20;
  }

  .link-text {
    @apply text-sm xl:text-lg font-audio text-darkGray dark:text-white opacity-70;
  }
  .link-text:hover {
    @apply font-bold cursor-pointer opacity-100;
  }
  .link-text.active {
    @apply opacity-100 font-bold relative text-violet dark:text-yellow after:absolute after:bg-violet dark:after:bg-yellow after:w-full after:h-0.5 after:bottom-0 after:left-0;
  }

  .button-base {
    @apply px-4 border border-darkGray dark:border-white rounded-full;
  }
  .button-base:hover {
    @apply border-white dark:border  bg-violet/50 dark:bg-transparent  dark:border-yellow;
  }
  .section-mt {
    @apply mt-5 md:mt-10 lg:mt-20 xl:mt-28;
  }
  .text-mt {
    @apply mt-2 md:mt-5 lg:mt-10 xl:mt-12;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  max-width: 100%;
  background-image: url("/bg.png");
}
body.dark {
  background: black;
  color: #f2f2f2;
}

/* Swiper CSS ********************************************************/
.swiper {
  width: 370px;
  height: 500px;
}

@media screen and (max-width: 1280px) {
  .swiper {
    width: 320px;
    height: 428px;
  }
}

@media screen and (max-width: 1024px) {
  .swiper {
    width: 250px;
    height: 357px;
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: #feadcd;
}

.swiper-slide:nth-child(2n) {
  background-color: #ffec9e;
}

.swiper-slide:nth-child(3n) {
  background-color: #7ae7b9;
}

.swiper-slide:nth-child(4n) {
  background-color: #5bd2f0;
}

.swiper-slide:nth-child(5n) {
  background-color: #9be7ff;
}

.swiper-slide:nth-child(6n) {
  background-color: #b9acf2;
}

.swiper-slide:nth-child(7n) {
  background-color: #feadcd;
}

.swiper-slide:nth-child(8n) {
  background-color: #ff6363;
}

.swiper-slide:nth-child(9n) {
  background-color: #b6ff75;
}

.swiper-slide:nth-child(10n) {
  background-color: #ff7bd6;
}
